/*
Admin css
*/


.post-grid-settings{}


.post-grid-settings ul.post_grid_bg_img_list{}

.post-grid-settings ul.post_grid_bg_img_list li {
  display: inline-block;
  margin: 5px;
}
.post-grid-settings ul.post_grid_bg_img_list li.bg-selected {}

.post-grid-settings ul.post_grid_bg_img_list li img{border: 2px solid #ffffff;}

.post-grid-settings ul.post_grid_bg_img_list li.bg-selected img{
  border: 2px solid #ff5a11;
}


.post-grid-settings .post_grid_loading_taxonomy_category {
  background:url("../../css/loading.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 11px;
  width: 30px;
}











.post-grid-settings .post-grid-builder {
  margin-bottom: 20px;
}
.post-grid-settings .post-grid-builder .items {
  background: none repeat scroll 0 0 rgb(230, 230, 230);
  border: 1px solid rgb(153, 153, 153);
  min-height: 50px;
  padding: 5px;
}

.post-grid-settings .post-grid-builder .item {
  background: none repeat scroll 0 0 rgb(255, 255, 255);
  border-bottom: 1px solid rgb(153, 153, 153);
  cursor: move;
  display: inline-block;
  margin: 2px;
  padding: 5px 10px;
}
.post-grid-settings .post-grid-builder .item.active{
	background: none repeat scroll 0 0 rgb(221, 240, 255);
}
.post-grid-settings .post-grid-builder .item.active .options {
	display:block;
}

.post-grid-settings .post-grid-builder .item.ui-draggable-dragging {
border:1px dashed #999;
}


.post-grid-settings .post-grid-builder .item .options {
	display:none;
}




.post-grid-settings .post-grid-builder .canvas {
  margin: 20px 0;
  min-height: 100px;

}

.post-grid-settings .post-grid-builder .canvas .saved-item {
  background: none repeat scroll 0 0 rgb(255, 255, 255);
  border-bottom: 1px solid rgb(153, 153, 153);
  display: block;
  margin: 2px;
  padding: 5px 10px;
  position: relative;
}


.post-grid-settings .post-grid-builder .canvas .ui-sortable-helper{
	border:1px dashed #999;

}


.post-grid-settings .post-grid-builder .canvas .saved-item.active {

  padding: 0;
}

.post-grid-settings .post-grid-builder .canvas .saved-item.active .header {
  border-bottom: 1px solid rgb(153, 153, 153);
  padding: 7px 10px;
}
.post-grid-settings .post-grid-builder .canvas .saved-item .options {
	display:none;

}
.post-grid-settings .post-grid-builder .canvas .saved-item.active .options {
	display:block;
	padding: 7px 10px;
}


.post-grid-settings #post-grid-builder {
  width: 100%;
}


.post-grid-settings #post-grid-builder tr {
  background: none repeat scroll 0 0 rgb(255, 255, 255);
  border-bottom: 1px solid rgb(153, 153, 153);
  padding: 0;
}

.post-grid-settings #post-grid-builder td {

}

.post-grid-settings #post-grid-builder td.dragHandle {
  text-align: center;
  width: 25px;
}



.post-grid-settings #post-grid-builder .header {
    border-bottom: 1px solid rgb(153, 153, 153);
    padding: 5px 10px;
}

.post-grid-settings #post-grid-builder .options {
  display: none;
}
.post-grid-settings #post-grid-builder tr.active{
background: none repeat scroll 0 0 rgb(221, 240, 255);
}

.post-grid-settings #post-grid-builder tr.active .header {
background: none repeat scroll 0 0 rgb(172, 218, 253);
}
.post-grid-settings #post-grid-builder tr.active .options {
  display: block;
  padding: 5px 10px;
}

.post-grid-settings .input-switch {
  display: inline-block;
  float: right;
  margin-left: 10px;
  margin-right: 43px;
  position: absolute;
  right: 23px;
  top: 0;
  vertical-align: top;
  width: 14px;
}